<div class="container">
  <div class="text-center">
    <h3>
      Tony Abong'o
      <small class="text-muted">GitHub public Repositories</small>
    </h3>
</div>

<div class="row">

  <div class="col-sm-6">
   <div class="card">
    <div class="card-body">
       <h5 class="card-title">Special title treatment</h5>
       <p>with supporting text below as a natural load in to additional content.</p>
       <a href="#" class="btn btn-primary"> Go repository</a>
    </div>
   </div>
  </div>


  </div>
</div>