<app-navbar></app-navbar>
<router-outlet></router-outlet>




<!-- <div class="container">
  <div class="text-center">
    <h3>
      Tony-34
      <small class="text-muted">GitHub public Repositories</small>
    </h3>
</div>

<div class="row">

  <div class="col-sm-6" *ngFor="let repo of gitHubRepos">
   <div class="card">
    <div class="card-body">
       <h5 class="card-title">{{repo.name}}</h5>
       <p class="card-text"> {{repo.description}}</p>
       <a href="{{repo.html_url}}" class="btn btn-primary"> Go repository</a>
    </div>
   </div>
  </div>


  </div>
</div> -->